* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: block;
    max-width: 150px;
}
.header {
    background-color: #01689b;
    padding: 1.5rem;
}
.home  {
    width: 50%;
    float: left;
    font-size: x-large;
}
/*---menu button---*/
.bar1, .bar2, .bar3 {
    height: 3px;
    background-color: white;
    margin: 7.5px 0;
    width: 30px;
    transition: 0.5s;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: rotate(45deg) translate(-9px, -6px);
}
.dropbtn {
    display: block;
    float: right;
    width: 35px;
}
.dropdown {
    width: 100%;
}
.dropdown-content {
    display: none;
    overflow: auto;
    z-index: 1;
}
.dropdown-content a {
    display: block;
    background-color: #2980B9;
    color: white;
    line-height: 3em;
    border-bottom: 1px solid white;
}
.dropdown-content a:first-child {
    content: "";
    border-top: 1px solid white;
} 
.show {
    display: block;
    width: 100%;
  }
  /*---search---*/
.search {
    line-height: 1.5em;
    font-size: 1em;
    width: 100%;
    padding-left: 1.5em;
}
/*---main---*/
.main {
    background-image: url(https://www.rijksoverheid.nl/binaries/large/content/gallery/rijksoverheid/attentie-afbeeldingen/onderwerpen/m/minimumloon/minimumloon-winkel.jpg);
    background-size: cover;
    padding: 20px;
}
.show-box {
    list-style: none;
    background-color: white;
    font-weight: bold;
    padding: 10px;
}
li.show-box:before {
    content: " > ";
    color: #01689b;
}
/*---copyright*/
.copyright {
    color: white;
    padding-top: 20px;
    font-size: smaller;
    text-shadow: 1px 1px 4px #000;
}
/*---(a)---*/
a {
    position: relative;
    color: #01689b;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.decoration:hover {
    text-decoration: underline;
}
a:visited {
    color: #767676;
}
.home a:visited {
    color: white;
}
/*---main-topics---*/
.main-topics {
    background-color: #f1ebeb;
    overflow: hidden;
}
.main-topics .brick{
    width: 100%;
    padding: 15px 10px;
}

@media (min-width: 900px){
    .main-topics .brick  {
        float: left;
        width: calc(100% / 4);
        min-height: 150px;
        list-style: none;
    }
}
/*---brick---*/
.brick {
    width: 50%;
    padding: 2%;
    line-height: 1.5em;
}
@media (max-width: 480px){
    .brick{
        width: 100%;
        padding: 15px 10px;
    }
}
@media (min-width: 900px){
    .brick {
        width: calc(100% / 3);
    }
}
.brick img {
    max-width: 100%;
}
.brick-text {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
}
/*---publication---*/
.publication{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.5em;
    padding-top: 1em;
    border-top: 1px solid #f3f3f3
}
.brick .copyright {
    position: absolute;
    top: 50%;
    padding: 1%;
}
h3.symbol::before {
    content: "↗";
    display: inline-block;
    font-size: small;
    font-weight: bolder; 
}
/*---nieuws---*/
.title {
    width: 100%;
}
.publDate {
    font-weight: bold;
}
.more {
    width: 100%;
    font-weight: bold;
    padding-left: 2%;
}
.more:before {
    content: " > "; 
}
/*---box---*/
.publication.aside {
    justify-content: space-around;
    text-align: center;
    margin: 20px 20px 50px 20px;
    border: none;
}
.brick-banner {
    border: 3px solid #f1ebeb;
    width: 45%;
    overflow: hidden;
    margin: 2% 0%;
    padding: 20px 15px;
    line-height: 1.3em;
    font-size: 1.2em;
}
.red {
    color: #a90061;
    font-weight: bold;
}
.blue {
    color: #1b5e84;
    font-weight: bold;
}
@media (max-width: 480px){
    .brick-banner {
        width: 100%;
    }
}
/*---footer---*/
.footer {
    background-color: #01689b;
    color: white;
    padding: 40px 40px;
    line-height: 2em;
    font-weight: lighter;
    justify-content: space-around;
}
.column a {
    color: white;
}
.column a:visited {
    color: white;
}
.decoration {
    list-style: none;
}
.column h2 {  
    margin: 8px 0 5px 0;
    padding-top: 0;
    color: white;
    font-weight: normal;
    font-size: 1.1em;
}
.column {
    position: relative;
    width: 50%;
}
@media (min-width: 900px){
    .column {
        width: 25%;
    }
}
.payoff {
    position: relative;
    font-family: "RO Serif";
    font-style: italic;
    font-weight: normal;
    margin-bottom: 20px;
}
@media (min-width: 900px){
    .payoff {
        width: 50%;
        font-size: 1.5em;
    }
}
/*---languages---*/
.wrapper {
    text-align: center;
}
.wrapper li {
    display: inline-block;
    float: none;
    width: auto;
    font-size: small;
    margin: 5px 5px;
    padding: 5px 5px;
    border: 1px solid #b2dff5;
}
.wrapper li:first-child {
    border: none;
}
