* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    display: block;
    max-width: 150px;
}
.header {
    background-color: #01689b;
    min-height: 70px;
    padding: 1.5rem;
}
.home  {
    width: 50%;
    float: left;
    font-size: x-large;
}
/*---menu button---*/
/*---Sorry, I used Java, at the beginning I thought it is something I haven't learned yet in HTML / CSS 
and when I realised that it's Java it was too late. 
It will take me hours to change them. I hope you will forgive me this time!! */
.bar1, .bar2, .bar3 {
    height: 3px;
    background-color: white;
    margin: 7px 0px;
    width: 30px;
    transition: 0.5s;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    transform: rotate(45deg) translate(-9px, -6px);
}
.dropbtn {
    display: block;
    float: right;
    width: 35px;
}
@media (min-width: 900px){
    .dropbtn {
        position: absolute;
        right: 25px;
        z-index: 3;
    }
}
.dropdown-content {
    display: none;
    overflow: auto;
}
.dropdown-content a {
    display: block;
    color: white;
    line-height: 2em;
    border-bottom: 1px white solid;
    padding: 15px;
}
.show {
    display: block;
    width: 100%;
}
@media (min-width: 900px){
    .dropdown-content {
        position: absolute;
        background-color: #01689b;
        width: 100%;
        z-index: 2;
    }
}
@media (min-width: 900px){
    .dropdown-content a {
       
    }
}
  /*---search---*/
.search {
    position: relative;
    width: 100%;
    min-height: 50px;
    line-height: 1.5em;
    padding: 0px 10px;
    font-size: 1em;
}
@media (min-width: 900px){
    .search {
        position: absolute;
        max-width: 450px;
        margin: 80px 0px;
        z-index: 1;
    }
}
/*---main---*/
.main {
    background-image: url(https://www.rijksoverheid.nl/binaries/large/content/gallery/rijksoverheid/attentie-afbeeldingen/onderwerpen/m/minimumloon/minimumloon-winkel.jpg);
    background-size: cover;
    padding: 20px;
}
.show-box {
    background-color: white;
    font-weight: bold;
    padding: 10px;
}
@media (min-width: 900px){
    .show-box {
        max-width: 350px;
    }
}
/*---copyright*/
.copyright {
    color: white;
    padding-top: 20px;
    font-size: smaller;
    text-shadow: 1px 1px 4px #000;
}
/*---(a)---*/
a {
    position: relative;
    color: #01689b;
    text-decoration: none;
}
.home:hover, .decoration:hover {
    text-decoration: underline;
}
a:visited {
    color: #767676;
}
.column a, .home a {
    color: white;
}
.home a:visited, .column a:visited {
    color: white;
}
/*---main-topics---*/
.main-topics {
    background-color: #f1ebeb;
    overflow: hidden;
}
.main-topics .brick{
    width: 100%;
    padding: 15px 10px;
}

@media (min-width: 900px){
    .main-topics .brick  {
        float: left;
        width: calc(100% / 4);
        min-height: 150px;
    }
}
/*---brick---*/
.brick {
    width: 50%;
    padding: 2%;
    line-height: 1.5em;
}
@media (max-width: 480px){
    .brick{
        width: 100%;
        padding: 15px 10px;
    }
}
@media (min-width: 900px){
    .brick {
        width: calc(100% / 3);
    }
}
.brick img {
    max-width: 100%;
}
.brick-text {
    color: #000;
    font-weight: lighter;
}
.brick-text:hover {
    text-decoration: none;
}
/*---publication---*/
.publication{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3.5em;
    padding-top: 1em;
    border-top: 1px solid #f3f3f3
}
.brick .copyright {
    position: absolute;
    top: 50%;
    padding: 1%;
}
/*---nieuws---*/
.title {
    width: 100%;
    padding: 10px;
}
.publDate {
    font-weight: bold;
}
.more {
    width: 100%;
    font-weight: bold;
    padding-left: 2%;
}
/*---box---*/
.publication.aside {
    justify-content: space-around;
    text-align: center;
    margin: 20px 20px 50px 20px;
    border: none;
}
.brick-banner {
    border: 3px solid #f1ebeb;
    width: 45%;
    overflow: hidden;
    margin: 2% 0%;
    padding: 20px 15px;
    line-height: 1.3em;
    font-size: 1.2em;
}
.red {
    color: #a90061;
    font-weight: bold;
}
.blue {
    color: #1b5e84;
    font-weight: bold;
}
@media (max-width: 480px){
    .brick-banner {
        width: 100%;
    }
}
/*---footer---*/
.footer {
    background-color: #01689b;
    color: white;
    padding: 40px 40px;
    line-height: 2em;
    font-weight: lighter;
    justify-content: space-around;
}
.column h2 {  
    margin: 8px 0 5px 0;
    padding-top: 0;
    color: white;
    font-weight: normal;
    font-size: 1.1em;
}
.column {
    position: relative;
    width: auto;
}
.payoff {
    display: block;
    font-family: "RO Serif";
    font-style: italic;
    font-weight: normal;
    width: 40%;
}
@media (max-width: 700px){
    .payoff {
        width: 100%;
        font-size: 1.5em;
    }
}
/*---languages---*/
.wrapper {
    text-align: center;
    margin: 20px 10px;
}
.wrapper li {
    display: inline-block;
    float: none;
    width: auto;
    margin: 5px 5px;
    padding: 5px 5px;
    border: 1px solid #b2dff5;
}
.wrapper li a:hover{
    text-decoration: none;
}
.wrapper li:first-child {
    border: none;
}
